<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aplicación Docentes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Aplicación Docente</a>
    </nav>


    <div class="container-fluid body-content mt-3">
        <div class="row">

            <div class="col-lg-2">
                <div class="list-group">
                    <a href="/Estudiantes" class="list-group-item"><span class="fa fa-graduation-cap"></span> Estudiantes</a>
                    <a href="/Docentes" class="list-group-item"><span class="fa fa-users"></span> Docentes</a>
                    <a href="/Publicaciones" class="list-group-item"><span class="fa fa-paint-brush"></span> Publicaciones</a>
                    <a href="/Proyectos" class="list-group-item"><span class="fa fa-bar-chart"></span> Proyectos</a>
                </div>          
            </div>

            <div class="col-lg-10">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicación Docentes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
