@model Docentes.Models.Docente

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="/Proyectos/Create">Nuevo Proyecto</a>
</p>
<h4>Proyectos de: @Model.FullName</h4>
<div class="table-responsive-sm">
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Duración
            </th>
            <th>
                Patrocinador
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Proyectos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patrocinador)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Proyectos", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Proyectos", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>



</div>