@model Docentes.Models.Docente

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Model.Nombres
<div class="table-responsive-sm">
    <table class="table">
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Año
            </th>
            <th>
                Tipo
            </th>
            <th>
                Editorial
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Proyectos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Docente.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patrocinador)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>



</div>