@model Docentes.Models.Docente

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="/Publicaciones/Create">Nueva Publicación</a>
</p>




<h4>Publicaciones de: @Model.FullName</h4>
<div class="table-responsive-sm">
    <table class="table">
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Año
            </th>
            <th>
                Tipo
            </th>
            <th>
                Editorial
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Publicaciones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Publicaciones", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Publicaciones", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>



</div>


