@model Docentes.Models.Publicacion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Publicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Docente.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editorial.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editorial.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPublicionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPublicionId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
